@import '~bootstrap/scss/bootstrap';

.modal {
	display: none;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(117, 113, 113, 0.8);
}

.modal-dialog {
	display: block;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
}

.loading {
	display: flex;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.loading-on {
	display: none;
}

.currency-badge {
	background-color: rgb(246, 5, 5);
}

.bg-change {
	background-color: rgb(6, 249, 22);
}
